.text { 
    color:#FFF;
    font-weight: bold;
    padding-top:13px ; 
    margin-bottom:13px ;
}
.w3-half{
    padding: 15px;
    margin-top: -25px;
}
footer { 
    width:100vw; 
    background-color:#263238;
    min-height:auto; 
    padding:0px 0px 5px 0px ;
    position: relative;
    bottom:0; 
    left: 0;
    right: 0;
}

footer p { 
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:3px;
}

.mb10 { 
    padding-bottom:5px ;
}

.fleft { 
    float:left;
}

.footer_ul2_amrc {
    margin:0px; 
    list-style-type:none; 
    padding:0px;
    color: rgb(255, 255, 255);
}

.footer_ul2_amrc li p { 
    display:inline; 
}

.bottom_border { 
    border-bottom:1px solid #45555c; 
    padding-bottom:10px;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.foote_bottom_ul_amrc p { 
    display:inline;
}
.foote_bottom_ul_amrc p i { 
    color:#999; 
    margin:0 5px;
    text-decoration: none;
}



.bottom_border{
    margin: 0 auto; /* Center website */
    max-width: 1050px; /* Max width */
    padding: 5px;
    
}

.copyright{
    color: whitesmoke;
}
.copyright a{
    text-decoration: none;
    color: rgb(63, 121, 237); 

}
