body {
  font-family: Montserrat, sans-serif;
  background-image: url("images/background image 2.png");
}

a {
  display: block;
  padding: 1.2rem 1rem;
}

.nav {
  background-color: rgb(148, 159, 206);
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 0 2rem;
}

.nav_logo {
  color: #f2f2f2;
  font-weight: bold;
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.nav_logo:hover {
  color: #645CAA;
}

.nav_item {
  list-style: none;
  font-weight: bold;
  position: relative;
}

.nav_item a {
  text-decoration: none;
  color: #f2f2f2;
}

.nav_item a:hover {
  color: #645CAA;
  transition: 0.15s;
}

.nav_item:hover ul, nav_item:focus ul {
  color: #645CAA;
  opacity: 1;
  visibility: visible;
  transition: 0.15s;
}

.nav_dropdown {
  position: absolute;
  background-color: #BFACE0;
  width: 7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

.nav_dropdown a {
  padding: 0.5rem;
}

.nav_dropdown li {
  list-style: none;
}
